# Synology Deployment - Tubefy
services:
  tubefy:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: tubefy
    ports:
    - "49952:8080"
    networks:
    - tubefy-net
    dns:
    - 8.8.8.8
    - 1.1.1.1
    environment:
    - JAVA_OPTS=-Djava.net.preferIPv4Stack=true -Dsun.net.inetaddr.ttl=3600 -Dnetworkaddress.cache.ttl=3600
    - YOUTUBE_API_KEY=${YOUTUBE_API_KEY}
    - YOUTUBE_CHANNEL_IDS=${YOUTUBE_CHANNEL_ID}
    - YOUTUBE_CHECK_INTERVAL=${YOUTUBE_CHECK_INTERVAL}
    - DISCORD_NOTIFICATION_MESSAGE=${DISCORD_NOTIFICATION_MESSAGE}
    - DISCORD_WEBHOOK_URLS=${DISCORD_WEBHOOK_URLS}
    - QUARKUS_PROFILE=prod
    restart: always

networks:
  tubefy-net:
    driver: bridge
    ipam:
      config:
      - subnet: 172.21.0.0/16