services:
  youtube-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: tubefy
    ports:
      - "49952:8080"
    environment:
    - YOUTUBE_API_KEY=${YOUTUBE_API_KEY}
    - YOUTUBE_CHANNEL_IDS=${YOUTUBE_CHANNEL_ID}
    - YOUTUBE_CHECK_INTERVAL=${YOUTUBE_CHECK_INTERVAL}
    - DISCORD_NOTIFICATION_MESSAGE=${DISCORD_NOTIFICATION_MESSAGE}
    - DISCORD_WEBHOOK_URLS=${DISCORD_WEBHOOK_URLS}
    restart: always